div .well {
    margin-bottom: 40px;
}

.delete-form {
    display: inline;
}

.form-box {
    width: 30%; 
    margin: 40px auto;
}

.form-title {
    text-align: center;
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 10px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#eee;
}

#txtbox
    {
     font-size:11pt;
     height:200px;
    }