.delete-form {
    display: inline;
}

.form-box {
    width: 30%; 
    margin: 40px auto;
}

.form-title {
    text-align: center;
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 10px;
}

div .thumbnail {
    margin-bottom: 60px;
}

div .well {
    margin-bottom: 40px;
}

#footer {
   left:0px;
   bottom:0px;
   margin-top: 50px;
   height:30px;
   width:100%;
   background:#eee;
   
   
}#footlog {
   left:0px;
   bottom:0px;
   margin-top: 50px;
   position: absolute;
   height:30px;
   width:100%;
   background:#eee;
}



#indenter {
    white-space: pre-line;
}

#nav-icon {
    display: inline-block;
    margin-left: 15px;
    padding: 5px 0px 0px 0px;
}


#txtbox
    {
     font-size:11pt;
     height:250px;
     width:350px;
    }