<% include ../partials/header %>

<div class="container">    
    <header class="jumbotron">
        <div class="container">
            <h1>Vegemite</h1>
            <p>Time for some clean eating!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/recipes/new">Add New Recipe</a>
            </p>
        </div>
    </header>
    <h3>Most Popular Recipes!</h3>
        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
            <% recipes.forEach(function(recipe){ %>
                <div class="col-lg-3 col-md-4 col-sm-6">
                     <div class="thumbnail">
                        <image src="<%= recipe.image %>"> 
                        <div class="caption">
                            <h4><%= recipe.name %></h4>
                        </div>
                        <p>
                            <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">More Info</a>
                        </p>
                     </div>
                </div>
            <% }) %>
        </div>    
</div>

<% include ../partials/footer %>